<!--<style>
    .container-full {
        margin: 0 auto;
        width: 100%;
    }
</style> -->
<hr/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">Account Number:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">Account Status:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">Date Inactive:</div>
        <div class="col-md-2">{{}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Account Number:</div>
        <div class="col-md-10">{{}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Address:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">City:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">State:</div>
        <div class="col-md-2">{{}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Zip:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">Email:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">Phone:</div>
        <div class="col-md-2">{{}}</div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-2">DEA Number:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">DEA Expiration:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">340 B Customer:</div>
        <div class="col-md-2">{{}}</div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-2">SalesPerson:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">Parent Customer:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">Inst Track Code:</div>
        <div class="col-md-2">{{}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Route:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">Saturday Route:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">Day Orders:</div>
        <div class="col-md-2">{{}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Avg RX Day:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">Yearly Sales:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">Last Invoice Date:</div>
        <div class="col-md-2">{{}}</div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-2">EDI Customer:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">855's:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-2">Back Orders:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">Item Subs:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">SubRule ID:</div>
        <div class="col-md-2">{{}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Best Price:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">Best Price Tolerance:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">Auto Ship:</div>
        <div class="col-md-2">{{}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">POS System:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2">Pharmacy System:</div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">Portal Orders</div>
        <div class="col-md-6">CSOS Orders</div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-1">Portal ID</div>
            <div class="col-md-1">PO Number</div>
            <div class="col-md-1">Status</div>
            <div class="col-md-1">Blank</div>
            <div class="col-md-1">Conf #</div>
            <div class="col-md-1">Conf Date</div>
            <div class="col-md-1">Creation Date</div>
            <div class="col-md-1">Creation Time</div>
        </div>
        <div class="col-md-6">
            <div class="col-md-1">Portal CSOS ID</div>
            <div class="col-md-1">PO Number</div>
            <div class="col-md-1">Status</div>
            <div class="col-md-1">Blank</div>
            <div class="col-md-1">Creation Date</div>
            <div class="col-md-1">Creation Time</div>
        </div>
    </div>





</div>