<!--<style>
    .container-full {
        margin: 0 auto;
        width: 100%;
    }
</style> -->
<div><label>Enter Customer Number: </label> <input type="text" ng-model="searchAcct"> <button type="button" class="btn btn-primary" ng-click="search()">
    Search
</button>
</div>
<h2>Customer Information</h2>
<hr/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"><strong>Account Number:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"><strong>Account Status:</strong></div>
        <div class="col-md-2">{{customerInfo.ITEMSUB}}</div>
        <div class="col-md-2"><strong>Date Inactive:</strong></div>
        <div class="col-md-2">{{}}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>Account Number:</strong></div>
        <div class="col-md-10">{{}}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>Address:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"><strong>City:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"><strong>State:</strong></div>
        <div class="col-md-2">{{}}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>Zip:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"><strong>Email:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"><strong>Phone:</strong></div>
        <div class="col-md-2">{{}}</div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-2"><strong>DEA Number:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"><strong>DEA Expiration:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"><strong>340 B Customer:</strong></div>
        <div class="col-md-2">{{}}</div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-2"><strong>SalesPerson:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"><strong>Parent Customer:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"><strong>Inst Track Code:</strong></div>
        <div class="col-md-2">{{}}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>Route:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"><strong>Saturday Route:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"><strong>Day Orders:</strong></div>
        <div class="col-md-2">{{}}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>Avg RX Day:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"><strong>Yearly Sales:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"><strong>Last Invoice Date:</strong></div>
        <div class="col-md-2">{{}}</div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-2"><strong>EDI Customer:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"><strong>855's:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-2"><strong>Back Orders:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"><strong>Item Subs:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"><strong>SubRule ID:</strong></div>
        <div class="col-md-2">{{}}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>Best Price:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"><strong>Best Price Tolerance:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"><strong>Auto Ship:</strong></div>
        <div class="col-md-2">{{}}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>POS System:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"><strong>Pharmacy System:</strong></div>
        <div class="col-md-2">{{}}</div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6"><h4>Portal Orders</h4></div>
        <div class="col-md-6"><h4>CSOS Orders</h4></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-1"><strong>Portal ID</strong></div>
            <div class="col-md-1"><strong>PO Number</strong></div>
            <div class="col-md-1"><strong>Status</strong></div>
            <div class="col-md-1"><strong>Blank</strong></div>
            <div class="col-md-1"><strong>Conf #</strong></div>
            <div class="col-md-1"><strong>Conf Date</strong></div>
            <div class="col-md-1"><strong>Creation Date</strong></div>
            <div class="col-md-1"><strong>Creation Time</strong></div>
        </div>
        <div class="col-md-6">
            <div class="col-md-1"><strong>Portal CSOS ID</strong></div>
            <div class="col-md-1"><strong>PO Number</strong></div>
            <div class="col-md-1"><strong>Status</strong></div>
            <div class="col-md-1"><strong>Blank</strong></div>
            <div class="col-md-1"><strong>Creation Date</strong></div>
            <div class="col-md-1"><strong>Creation Time</strong></div>
        </div>
    </div>





</div>