<style>
    h2.report-heading2.ng-scope {
        text-align: center;
    }

    h4.report-heading4.ng-scope {
        text-align: center;
    }

</style>
<h2 class="report-heading2">Customer Ordering Systems Report</h2>

<h4 class="report-heading4">Today's Orders</h4>
<h4 class="report-heading4">Portal - {{currentPortal | number : 0}}</h4>
<h4 class="report-heading4">VAI - {{currentVAI | number : 0}}</h4>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="table-responsive ds-responsive ds-table-large">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date Range</th>
                        <th>PortalV4</th>
                        <th>Legisym</th>
                        <th>Data Smith</th>
                        <th>Portal</th>
                        <th>EDI</th>
                        <th>Order Desk</th>
                        <th>Integral RX</th>
                        <th>Total Orders</th>
                        <th>PortalV4 %</th>
                        <th>Legisym %</th>
                        <th>Data Smith %</th>
                        <th>Portal %</th>
                        <th>EDI %</th>
                        <th>Order Desk %</th>
                        <th>Integral RX %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Yesterday</td>
                        <td>{{lastDayPortalV4 | number : 0}}</td>
                        <td>{{lastDayLegisym | number : 0}}</td>
                        <td>{{lastDayDS | number : 0}}</td>
                        <td>{{lastDayPortal | number : 0}}</td>
                        <td>{{lastDayEDI | number : 0}}</td>
                        <td>{{lastDayOD | number : 0}}</td>
                        <td>{{lastDayIRx | number : 0}}</td>
                        <td>{{lastDayTotal | number : 0}}</td>
                        <td>{{lastDayPortalV4Pct | number : 2}}</td>
                        <td>{{lastDayLegisymPct | number : 2}}</td>
                        <td>{{lastDayDSPct | number : 2}}</td>
                        <td>{{lastDayPortalPct | number : 2}}</td>
                        <td>{{lastDayEDIPct | number : 2}}</td>
                        <td>{{lastDayODPct | number : 2}}</td>
                        <td>{{lastDayIRxPct | number : 2}}</td>
                    </tr>
                    <tr>
                        <td>{{currentMonth}}</td>
                        <td>{{mtdPortalV4 | number : 0}}</td>
                        <td>{{mtdLegisym | number : 0}}</td>
                        <td>{{mtdDS | number : 0}}</td>
                        <td>{{mtdPortal | number : 0}}</td>
                        <td>{{mtdEDI | number : 0}}</td>
                        <td>{{mtdOD | number : 0}}</td>
                        <td>{{mtdIRx | number : 0}}</td>
                        <td>{{mtdTotal | number : 0}}</td>
                        <td>{{mtdPortalV4Pct | number : 2}}</td>
                        <td>{{mtdLegisymPct | number : 2}}</td>
                        <td>{{mtdDSPct | number : 2}}</td>
                        <td>{{mtdPortalPct | number : 2}}</td>
                        <td>{{mtdEDIPct | number : 2}}</td>
                        <td>{{mtdODPct | number : 2}}</td>
                        <td>{{mtdIRxPct | number : 2}}</td>
                    </tr>
                    <tr>
                        <td>{{prvMonth}}</td>
                        <td>{{prvPortalV4 | number : 0}}</td>
                        <td>{{prvLegisym | number : 0}}</td>
                        <td>{{prvDS | number : 0}}</td>
                        <td>{{prvPortal | number : 0}}</td>
                        <td>{{prvEDI | number : 0}}</td>
                        <td>{{prvOD | number : 0}}</td>
                        <td>{{prvIRx | number : 0}}</td>
                        <td>{{prvTotal | number : 0}}</td>
                        <td>{{prvPortalV4Pct | number : 2}}</td>
                        <td>{{prvLegisymPct | number : 2}}</td>
                        <td>{{prvDSPct | number : 2}}</td>
                        <td>{{prvPortalPct | number : 2}}</td>
                        <td>{{prvEDIPct | number : 2}}</td>
                        <td>{{prvODPct | number : 2}}</td>
                        <td>{{prvIRxPct | number : 2}}</td>
                    </tr>
                    <tr>
                        <td>{{prv2Month}}</td>
                        <td>{{prv2PortalV4 | number : 0}}</td>
                        <td>{{prv2Legisym | number : 0}}</td>
                        <td>{{prv2DS | number : 0}}</td>
                        <td>{{prv2Portal | number : 0}}</td>
                        <td>{{prv2EDI | number : 0}}</td>
                        <td>{{prv2OD | number : 0}}</td>
                        <td>{{prv2IRx | number : 0}}</td>
                        <td>{{prv2Total | number : 0}}</td>
                        <td>{{prv2PortalV4Pct | number : 2}}</td>
                        <td>{{prv2LegisymPct | number : 2}}</td>
                        <td>{{prv2DSPct | number : 2}}</td>
                        <td>{{prv2PortalPct | number : 2}}</td>
                        <td>{{prv2EDIPct | number : 2}}</td>
                        <td>{{prv2ODPct | number : 2}}</td>
                        <td>{{prv2IRxPct | number : 2}}</td>
                    </tr>
                    <tr>
                        <td>{{prv3Month}}</td>
                        <td>{{prv3PortalV4 | number : 0}}</td>
                        <td>{{prv3Legisym | number : 0}}</td>
                        <td>{{prv3DS | number : 0}}</td>
                        <td>{{prv3Portal | number : 0}}</td>
                        <td>{{prv3EDI | number : 0}}</td>
                        <td>{{prv3OD | number : 0}}</td>
                        <td>{{prv3IRx | number : 0}}</td>
                        <td>{{prv3Total | number : 0}}</td>
                        <td>{{prv3PortalV4Pct | number : 2}}</td>
                        <td>{{prv3LegisymPct | number : 2}}</td>
                        <td>{{prv3DSPct | number : 2}}</td>
                        <td>{{prv3PortalPct | number : 2}}</td>
                        <td>{{prv3EDIPct | number : 2}}</td>
                        <td>{{prv3ODPct | number : 2}}</td>
                        <td>{{prv3IRxPct | number : 2}}</td>
                    </tr>
                    <tr>
                        <td>{{prv4Month}}</td>
                        <td>{{prv4PortalV4 | number : 0}}</td>
                        <td>{{prv4Legisym | number : 0}}</td>
                        <td>{{prv4DS | number : 0}}</td>
                        <td>{{prv4Portal | number : 0}}</td>
                        <td>{{prv4EDI | number : 0}}</td>
                        <td>{{prv4OD | number : 0}}</td>
                        <td>{{prv4IRx | number : 0}}</td>
                        <td>{{prv4Total | number : 0}}</td>
                        <td>{{prv4PortalV4Pct | number : 2}}</td>
                        <td>{{prv4LegisymPct | number : 2}}</td>
                        <td>{{prv4DSPct | number : 2}}</td>
                        <td>{{prv4PortalPct | number : 2}}</td>
                        <td>{{prv4EDIPct | number : 2}}</td>
                        <td>{{prv4ODPct | number : 2}}</td>
                        <td>{{prv4IRxPct | number : 2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>