
<h2>Customer Ordering Systems Report</h2>

<h4>Today's Orders</h4>
<h4>Portal - {{}}</h4>
<h4>VAI - {{}}</h4>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="table-responsive ds-responsive ds-table-large">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date Range</th>
                        <th>Axway</th>
                        <th>Legisym</th>
                        <th>Data Smith</th>
                        <th>Portal</th>
                        <th>EDI</th>
                        <th>Order Desk</th>
                        <th>Smith Select</th>
                        <th>Total Orders</th>
                        <th>Axway %</th>
                        <th>Legisym %</th>
                        <th>Data Smith %</th>
                        <th>Portal %</th>
                        <th>EDI %</th>
                        <th>Order Desk %</th>
                        <th>Smith Select %</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>